@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

body {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
    background-color: rgba(var(--b3f,250,250,250),1);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

a{
  color: black !important;
}

.brand-logo,h2{
  font-family: 'Grand Hotel', cursive;
}

.mycard{
  margin-top: 30px;
}

.auth-card {
  padding: 40px;
  text-align: center;
  max-width: 350px;
  margin: 10px auto;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
}
.input-field input[type=phone]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item{
  width: 200px;
  height: 200px;
}

.home-card{
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
  
}
.collection-item{
  width: 100%;
}


#toast-container{
  top:30px !important;
  right: 20px !important;
  left: auto !important;
}


.material-icons:hover{
  cursor: pointer;
}

/* new */

.blue.darken-1 {
  background-color: #1E88E5 !important;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.auth-card  h6 {
  font-size: 14px;
  margin-bottom: 0.8em;
}

.auth-card  h6 span {
  color: #1E88E5 !important;
  font-weight: 600;
}

.pic-field {
  display: flex;
  flex-direction: row;
}

.card .card-image img {
  height: 450px;
}

.post-user-pic {
  width: 45px;
  height: 45px;
  margin-left: 20px;
  border-radius: 50px;
  border: 2px solid #1e88e5;
}

.home-card {
  padding-bottom: 2em;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.home-card form {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.home-card form .comment {
  border-bottom: none !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.post-comment {
  padding-left: 20px;
  color: rgb(166, 199, 241);
  background: none;
  font-weight: 700;
  padding-right: 20px;
  border: none;
}

.home-card h5 {
  display: flex;
  width: 100%;
}

.home-card button {
  width: 100%;
  background-color: #C62828 !important;
  color: #fff;
  padding: 15px 0;
  border: none;
}

.home-card button:hover {
  background-color: #a01e1e !important;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.home-card h5 a {
  flex-grow: 3 !important;
  font-size: 17px;
}

.home-card h5 i {
  padding-right: 0.5em;
}

.home-card form {
  border: 1px solid #e6e0e0;
}

.home-card form input[type=text]:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}

.post-comment {
  padding-left: 20px;
  color: rgb(166, 199, 241);
  font-weight: 700;
  padding-right: 20px;
}

.home-card form input[type=text]:focus ~ .post-comment {
  color: rgb(21, 105, 214);
}

.card .card-content {
  margin-bottom: 1.5em;
}